.navbarBrand {
  display: flex;
  width: 70%;
  
}
.navbarBrand a{
  color: #000;
  font-weight: 600;
  font-size: 20px;
  margin-right: 50px;
}

.navbarBrand a:hover {
  text-decoration: none;
}

.searchBar {
  width: 70%;
  background-color: #F8F8F7;
  border: none;
  padding: 10px;
}



.navbarContainer {
  display: flex;
  justify-content: space-between;
}